@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
}

.shadow-link {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.204);
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}


@media screen and (max-width: 680px) {
    .button-container {
        flex-direction: column;
        width: 100%;
    }
    .buttons {
        width: 90%;
        font-size: small;
    }
    .name{
      font-size: 3.5rem;
    }
    .i-am{
      font-size: 18px;
    }
    .description{
      font-size: small;
    }
    .hero-footer{
      gap: 2.5rem;
      h1 {
        font-size: medium;
      }
      p{
        font-size: small;
      }
    }
    .down{
      display: flex;
      justify-content: center;
      justify-items: center;
      div{
        h1{
          font-size: smaller;
        }
      }
    }

}

@keyframes fadeIn {
  from{
    opacity: 0;
    filter: blur(2px);
    transform: translateY(50px);
  }to{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.fade-in{
  animation: fadeIn 1.5s ease forwards;
  animation-delay: 0.2s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateX(-20rem);
    }
    50% {
        opacity: 1;
        transform: translateX(30rem);
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(0);
    }
}

@keyframes animateViolet {
    0% {
        opacity: 0;
        transform: translateX(30rem);
    }
    50% {
        opacity: 1;
        transform: translateX(-50rem);
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(0);
    }
}

@keyframes animate-float {
  50%{
    transform: translateY(30px);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes float-icon {
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0);
  }
}

.float-icon{
  animation: float-icon cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

.animate-float{
  animation: animate-float 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}
.pink {
    animation: animate 8s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}
.blue {
    animation: animate 9.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}
.violet {
    animation: animateViolet 7.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}
.amber {
    animation: animateViolet 6s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}
